# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pycharm files
.DS_Store
.idea
*/.DS_Store
*/.idea

# C extensions
*.so

# Distribution / packaging
.Python

# Jupyter Notebook
.ipynb_checkpoints

# data files
*.csv
*.csv.gz
*.pickle
*.pkl
*.png
*.lst
*.txt
*.log
*.tiff
*.tsv
*.mdb
*.zip

# tensorboard logs
/logs/*

# model weights
/weights/*

# exceptions
!*.keep
!title.png
